{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <h1>{{ customer.name }}</h1>
    <h2>Cheeses bought:</h2>
    {% include 'partials/_cheese_list.html' with cheeses=customer.orders.all %}
    <form action="{% url 'add_review' customer.id %}" method="POST">
      {% csrf_token %}
      <label>Cheese</label>
      <select name="cheese">
        {% for cheese in customer.orders.all %}
        <option value="{{ cheese.id }}">{{ cheese.name }}</option>
        {% endfor %}
      </select>

      <label>Rating</label>
      <input type="number" name="rating" placeholder="Rating" />

      <label>Recommend</label>
      <input type="checkbox" name="recommend" />
      <input
        type="hidden"
        name="redirect_url"
        value="{{ request.get_full_path }}"
      />
      <button type="submit">Submit review</button>
    </form>
  </body>
</html>
